Convert data to csv files.

In [9]:
import MySQLdb
import csv

db = MySQLdb.connect(
    host="dbinstance.clzhskzu7mhy.ap-southeast-1.rds.amazonaws.com", 
    user="fremont", 
    passwd="password", 
    db="fremont_db"
)
cursor = db.cursor()
sql = """
select * from auctionhall 
where timeStamp>='2015-09-27' and timeStamp <='2015-10-22'
group by auc;
"""
cursor.execute(sql)
rows = cursor.fetchall()
fp = open('period_data.csv', 'w')
myFile = csv.writer(fp)
myFile.writerows(rows)
fp.close()
db.close()

In [10]:
import pandas as pd
headers=('auction_id','item_id','bid','buyout','quantity','datetime')
df=pd.read_csv('period_data.csv', index_col=5, parse_dates=True, names=headers)

In [11]:
df.head()

                     auction_id  item_id         bid      buyout  quantity
datetime
2015-09-27 00:01:14  1468472671    17193  4499993140  4500000000         1
2015-09-27 00:01:14  1468472719   109219     1745980     1939980        20
2015-09-27 00:01:14  1468472720   109219     1745980     1939980        20
2015-09-27 00:01:14  1468472721   109219     1745980     1939980        20
2015-09-27 00:01:14  1468472723   109219     1745980     1939980        20

In [12]:
g1 = df.groupby( ['item_id'] ).count()

In [13]:
g1.head()

         auction_id  bid  buyout  quantity
item_id
647              11   11      11        11
727               4    4       4         4
754               3    3       3         3
765              15   15      15        15
769               1    1       1         1